{% extends 'base_layout.html' %}

{% block body %}

<div class="container has-text-centered">
    <h1>iRacing Data</h1>

    <section class="section-is-medium">
        <div class="columns">
            <div class="column is-half"><strong>Air Temp: </strong></div>
            <div class="column is-half" id="AirTemp"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Track Temp: </strong></div>
            <div class="column is-half" id="TrackTemp"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Oil Temp: </strong></div>
            <div class="column is-half" id="OilTemp"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Water Temp: </strong></div>
            <div class="column is-half" id="WaterTemp"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Session Time (seconds): </strong></div>
            <div class="column is-half" id="SessionTime"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Fuel Level: </strong></div>
            <div class="column is-half" id="FuelLevel"></div>
        </div>

        <div class="columns">
            <div class="column is-half"><strong>Lap: </strong></div>
            <div class="column is-half" id="Lap"></div>
        </div>
    </section>
</div>

{% endblock %}